## Basic Numpy

In [ ]:
import numpy as np
arr=np.arange(50000)
%time print(arr)

numpy is written in C. that's why is is faster than python list

In [ ]:
pylist=list(range(50000))
%time print(pylist)

In [31]:
a=np.array([[12,5,6,78,55,45],[56,7,89,12,231,4]])
print(a)

[[ 12   5   6  78  55  45]
 [ 56   7  89  12 231   4]]

Numpy attributes: 
(1) ndarray.ndim. ndim represents the number of dimensions (axes) of the ndarray.
(2) ndarray.shape. shape is a tuple of integers representing the size of the ndarray in each dimension.
(3) ndarray.size. size is the total number of elements in the ndarray.
(4) ndarray.dtype. dtype tells the data type of the elements of a NumPy array. In NumPy array, all the elements have the same data type.
(5) ndarray.itemsize. itemsize returns the size (in bytes) of each element of a NumPy array.

In [20]:
print()

<class 'numpy.ndarray'>

In [29]:
a.shape #to know about the row and column numbers of the array

(2, 6)

In [32]:
a.ndim

2

In [33]:
a.size

12

In [34]:
a.dtype

dtype('int64')

In [35]:
a.itemsize

8

In [36]:
np.zeros((4,6))  #to make columns and rows of zero values in float dtype

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [39]:
np.ones(6) #to make columns and rows of one values in float dtype

array([1., 1., 1., 1., 1., 1.])

In [40]:
np.empty((4,6)) #for allocating positions [N.B: np.zeros and np.empty are not the same]

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [41]:
a

array([[ 12,   5,   6,  78,  55,  45],
       [ 56,   7,  89,  12, 231,   4]])

In [42]:
a*a #element-wise multiplication #we could use other operations as well in the same manner

array([[  144,    25,    36,  6084,  3025,  2025],
       [ 3136,    49,  7921,   144, 53361,    16]])

## Slicing

In [54]:
a2 = np.array([3,5,9,15,6])

In [59]:
a2[2:4]

array([ 9, 15])

In [60]:
a2[3]=56

In [61]:
print(a2)

[ 3  5  9 56  6]

In [63]:
arr=a2[1:4].copy() #for taking a new copy
print(arr)

[ 5  9 56]

In [64]:
arr[2]=13

In [65]:
print(a2)
print(arr)

[ 3  5  9 56  6]
[ 5  9 13]

In [66]:
a

array([[ 12,   5,   6,  78,  55,  45],
       [ 56,   7,  89,  12, 231,   4]])

In [67]:
a[0,3]

78

In [70]:
a[0,3]=99 #slicing in 2D array

In [69]:
print(a)

[[ 12   5   6  99  55  45]
 [ 56   7  89  12 231   4]]

## Axis, Sorting and Function

In [71]:
a

array([[ 12,   5,   6,  99,  55,  45],
       [ 56,   7,  89,  12, 231,   4]])

In [75]:
a.sum(axis=0) #axis 0 means Y axix (column-wise) and 1 means X axis (row-wise)

array([ 68,  12,  95, 111, 286,  49])

In [76]:
a.sum(axis=1)

array([222, 399])

In [77]:
b=np.array([[1,2,3],[4,5,6]])
c=np.array([[7,8],[9,10],[11,12]])

In [78]:
print(b)

[[1 2 3]
 [4 5 6]]

In [79]:
print(c)

[[ 7  8]
 [ 9 10]
 [11 12]]

In [80]:
b.dot(c) #for determinig the dot products of two matrixes

array([[ 58,  64],
       [139, 154]])

In [85]:
np.dot(b,c) #works same as the previous one

array([[ 58,  64],
       [139, 154]])

In [81]:
d=c.transpose() #for transposing

In [82]:
print(d)

[[ 7  9 11]
 [ 8 10 12]]

In [ ]:
dir(np) #to know the functions of numpy

In [84]:
np.cross(b,d) #for determining the cross product of two matrix

array([[-5, 10, -5],
       [ 0,  0,  0]])

In [87]:
np.sort(a) #for sorting (low to high)

array([[  5,   6,  12,  45,  55,  99],
       [  4,   7,  12,  56,  89, 231]])

In [89]:
np.sort(a, axis=0) #columnwise sorting

array([[  4,   6,  12,  45,  55,  99],
       [  5,   7,  12,  56,  89, 231]])

## argsort, argmin, argmax

In [99]:
x=np.array([1,12,46,9,45,8945,53,231,45,15,5,9,8,7,2,6,4,45,5,6,85,51,84,13])
x.ndim

1

In [100]:
x.shape

(24,)

In [103]:
x.reshape(4,6) #converting into new arrays

array([[   1,   12,   46,    9,   45, 8945],
       [  53,  231,   45,   15,    5,    9],
       [   8,    7,    2,    6,    4,   45],
       [   5,    6,   85,   51,   84,   13]])

In [104]:
x.argsort() #sorts and shows the index numbers of sorting elements

array([ 0, 14, 16, 18, 10, 19, 15, 13, 12, 11,  3,  1, 23,  9,  8,  4, 17,
        2, 21,  6, 22, 20,  7,  5])

In [105]:
x.argmin() #showing the index number of the minimum value of the array

0

In [106]:
x.argmax() #showing the index number of the maximum value of the array

5